{% extends "base.html" %}
  {% block content %}
        <center>
          <br>
          {% if context.type %}

            <form method="POST" action="{{url_for('submit', _external=True)}}" id='sumform'>
              <!-- if gest request show the form with text box -->
              <div class="form-group col-lg-5">
                <label for="comment">Please enter text you want to summarize: </label>
                <textarea class="form-control" name="summary" placeholder="Enter text here..." rows="7"></textarea>
              </div>
              <input type="submit" name='Submit Response' class="btn btn-primary"></input>
            </form>

          {% endif %}

          {% if not context.type %}
          <div style="width: 100%; overflow: hidden;">
            <div style="width: 650px; float: left;">
              <h1>Original Text</h1>
              <p>{{context.originalText}}</p>
            </div>
            <div style="margin-left: 650px;">
              <h1>Top Sentences</h1>
              <ol>
                {% for result in context.returnList %}
                <li>{{result.original}}</li>
                <br>
                <br>
                {% endfor %}
              </ol>
            </div>
          </div>
          {% endif %}

        </center>
  {% endblock %}