{% extends "base.html" %}
  {% block content %}
          <center>
          {% if context.type %}
            <form method="POST" action="{{url_for('submit', _external=True)}}" id='sumform'>
              <!-- if gest request show the form with text box -->
              <div class="form-group col-lg-8">
                <label for="comment">Please enter text you want to summarize: </label>
                <textarea class="form-control" name="summary" placeholder="Enter text here..." rows="7"></textarea>
              </div>
              <label>
              <input type="radio" name="tf" value="tf" checked>Term Frequency | <br>
              </label>
              <label>
              <input type="radio" name="tf" value="c"> Optimal Sentence | <br>
              </label>
              <label>
              <input type="radio" name="tf" value="p"> Probabilistic Approach
              </label>
              <input type="submit" name='Submit Response' class="btn btn-primary"></input>
            </form>
          {% endif %}

          {% if not context.type %}
          <div style="width: 100%; overflow: hidden;">
            <div style="width: 650px; float: left;">
              <h2>Original Text</h2>
              <br>
              <br>
              <p>{{context.originalText}}</p>
            </div>
            <div style="margin-left:650px;">
              <h2>Top Sentences</h2>
              <br>
              <br>
                {% for result in context.returnList %}
                <li style="margin-left:100px;">{{result.original}}</li>
                <br>
                {% endfor %}
            </div>
          </div>
          {% endif %}
        </center>
  {% endblock %}